<div class="row mb-3">
  <div class="col-auto d-flex align-items-center flex-wrap">
    <button
      *ngFor="let s of severities"
      class="filter-pill me-2 mb-2"
      [ngClass]="s.toLowerCase()"
      [class.selected]="selectedFilters.has(s)"
      (click)="onToggle(s)"
    >
      {{ s }}
    </button>

    <button
      *ngFor="let st of states"
      class="filter-pill me-2 mb-2"
      [ngClass]="st.toLowerCase()"
      [class.selected]="selectedFilters.has(st)"
      (click)="onToggle(st)"
    >
      {{ st }}
    </button>
  </div>
</div>